# Ignore the node_modules folder
node_modules/

# Ignore all image files (assuming they have common extensions like .jpg, .png, .gif, etc.)
*.jpg
*.jpeg
*.png
*.gif
*.bmp

# ignore all files in the extracted_text folder
extracted_text/

# ignore all files in the text_to_json folder
text_to_json/

